include layout

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
    body
        h1 404 - Page not Found
        .dog-404
            img(height=400 width=800 src="img/404dog.jpg", alt="404dog", srcset="")
        .center
            h3
                a(href="/") Click here to go back home
            
