//- Include Layout
include layout.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title PetZilla - Create Account
        link(rel="stylesheet", href="css/style.css")
    body
        h3 #{message}
        .center
            h1 Create an account for PetZilla
            .form
                form(action="/Create", method="post")
                    p Username: 
                        input(type="text", name="username" require)
                    p Password:
                        input(type="password", name="password" require)
                    p Full Name:    
                        input(type="text", name="name")
                    p Birthday: 
                        input(type="date", name="birthday")
                    p Gender: 
                        select(name="gender")
                            option(value="")
                            option(value="M") Male
                            option(value="F") Female
                            option(value="Other") Other
                    .submit
                        input(type="submit", value="Create Account")
                        
                    
                
