html
    head
        title= title
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/font.css")
    body
        img(id="logo" src="img/petzilla.png", alt="Petzilla logo")
        h1 Welcome to PetZilla. Please login or create an account
        form(action="", method="get")