.nav-bar{

    background: darkorange;
    display: inline-block;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 10%;
    white-space: nowrap;
    overflow: auto;

}

.nav-bar img{

    display: inline-block;
    width: 194px;
    height: 46px;

}

.nav-bar p{

    display: inline-block;
    padding: 5px;

}

.left-alight{

    float: left;

}

.right-align{

    float: right;

}