body{

    background-color: darkorange;
    font-family: 'Nunito', sans-serif;

}

h1{

    text-align: center;

}

#logo{

    display: block;
    margin: 0 auto;

}

.center{

    display: block;
    margin: 0;
    width: 100%;
    text-align: center;

}


.dog-404{

    text-align: center;

}

h3 {

    font-size: 36;
    text-align: center;

}